<fieldset>
<legend><%= l(:updates_notifier_label_settings) %></legend>

<p>
  <label><%= l(:updates_notifier_survey_url) %></label><%= text_area_tag 'settings[survey_html]', settings['survey_html'], :size => '50x10' %><br>
  <!-- <label><%= l(:updates_notifier_surveys_sent) %></label><%= text_field_tag 'settings[surveys_sent]', settings['surveys_sent'] %> -->

</p>

</fieldset>
